* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar*/
.main-navbar {
  width: 100%;
  background-color: #0c0e10;
  display: flex;
  flex-direction: row;
  align-content: center;

  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    padding: 1rem 1rem;
    margin-left: 5%;
    .main-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }
    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        color: #fff;
        font-family: light;
      }
    }

    .service {
      display: flex;
      flex-direction: row;
      align-items: center;
      // background-color: green;
      gap: 0.5rem;

      h1 {
        color: #fff;
        font-size: 1rem;
        font-weight: 200;
      }
    }
    .button {
      width: fit-content;
      background-color: #fff;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 7%;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #0c0e10;
        font-family: bold;
      }
    }
  }
}

/*Rank Section*/
.main-rank {
  width: 100%;
  background: conic-gradient(
    from 90deg at 0 0,
    #0c0e10,
    #ce400d,
    transparent 70%
  );

  .main-content {
    width: 50%;
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    padding: 5rem;
    gap: 1rem;
    span {
      font-size: 5rem;
      font-family: bold;
      color: #fff;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
    }
    .button {
      width: fit-content;
      background-color: #693525a0;
      border-radius: 14px;
      .email-form {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        input {
          flex: 1;
          background: transparent;
          border: none;
          outline: none;
          color: #fff;
          font-size: 16px;
          padding: 14px 16px;
        }
      }
      .email-form input::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      .email-form button {
        background: #ff3e00;
        color: #fff;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;
      }

      .email-form button:hover {
        background: #ff541f;
      }
    }
  }
  /*Brand-image*/
  .main-brand {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;
    .first-image {
      width: 10%;
      height: 50%;
      border-radius: 8px;
      border: 0.1rem solid rgba(255, 255, 255, 0.547);
      display: flex;
      justify-content: center;

      margin-bottom: 1%;
      img {
        width: 65%;

        object-fit: contain;
        object-position: center;
      }
    }
    .first-image:hover {
      border: 0.1rem solid #ff9b50;
      box-shadow: 1px 1px 10px #ff9c5099;
      transition: all ease-in 0.3s;
      cursor: pointer;
    }
  }
}

/*Seamless Section*/
.outer-content {
  width: 100%;
  background: conic-gradient(
    from 90deg at 0 0,
    #341910,
    #95310e,
    #341910,
    transparent 70%
  );

  .main-content {
    width: 100%;
    border-radius: 35px;
    background-color: #d3d3d3;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-family: regular;
      margin-top: 10%;
      color: #2d2d2d;
    }
    .text {
      width: fit-content;
      // background-color: greenyellow;
      p {
        font-size: 4rem;
        font-family: medium;
        line-height: 1.1;
        background: linear-gradient(to right, #183c7d, #4f4b52, #da6e19);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .para {
      width: fit-content;
      p {
        font-size: 1.5rem;
        font-family: medium;
      }
    }
    .main-table {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      .part {
        width: 100%;
        border: 0.1rem solid #bebebe;
        .content {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding: 2rem 4rem;
          h6{
            font-size: 1.5rem;
            color: #212121;
          }
          p{
            font-size: 1.5rem;
            color: #787878;
          }
        }
      }
    }
  }
}
