* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar*/
.main-navbar {
  width: 100%;
  background-color: #0c0e10;
  display: flex;
  flex-direction: row;
  align-content: center;

  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    padding: 1rem 1rem;
    margin-left: 5%;
    .main-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }
    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        color: #fff;
        font-family: light;
      }
    }

    .service {
      display: flex;
      flex-direction: row;
      align-items: center;
      // background-color: green;
      gap: 0.5rem;

      h1 {
        color: #fff;
        font-size: 1rem;
        font-weight: 200;
      }
    }
    .button {
      width: fit-content;
      background-color: #fff;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 7%;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #0c0e10;
        font-family: bold;
      }
    }
  }
}

/*Rank Section*/
.main-rank {
  width: 100%;
  background: conic-gradient(
    from 90deg at 0 0,
    #0c0e10,
    #ce400d,
    transparent 70%
  );

  .main-content {
    width: 50%;
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    padding: 5rem;
    gap: 1rem;
    span {
      font-size: 5rem;
      font-family: bold;
      color: #fff;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
    }
    .button {
      width: fit-content;
      background-color: #693525a0;
      border-radius: 14px;
      .email-form {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        input {
          flex: 1;
          background: transparent;
          border: none;
          outline: none;
          color: #fff;
          font-size: 16px;
          padding: 14px 16px;
        }
      }
      .email-form input::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      .email-form button {
        background: #ff3e00;
        color: #fff;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;
      }

      .email-form button:hover {
        background: #ff541f;
      }
    }
  }
  /*Brand-image*/
  .main-brand {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;
    .first-image {
      width: 10%;
      height: 50%;
      border-radius: 8px;
      border: 0.1rem solid rgba(255, 255, 255, 0.547);
      display: flex;
      justify-content: center;

      margin-bottom: 1%;
      img {
        width: 65%;

        object-fit: contain;
        object-position: center;
      }
    }
    .first-image:hover {
      border: 0.1rem solid #ff9b50;
      box-shadow: 1px 1px 10px #ff9c5099;
      transition: all ease-in 0.3s;
      cursor: pointer;
    }
  }
}

/*Seamless Section*/
.outer-content {
  width: 100%;
  background: conic-gradient(
    from 90deg at 0 0,
    #341910,
    #95310e,
    #341910,
    transparent 70%
  );

  .main-content {
    width: 100%;
    border-radius: 35px;
    background-color: #d3d3d3;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-family: regular;
      margin-top: 10%;
      color: #2d2d2d;
    }
    .text {
      width: fit-content;
      // background-color: greenyellow;
      p {
        font-size: 4rem;
        font-family: medium;
        line-height: 1.1;
        background: linear-gradient(to right, #183c7d, #4f4b52, #da6e19);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .para {
      width: fit-content;
      p {
        font-size: 1.5rem;
        font-family: medium;
      }
    }
    .main-table {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      .part {
        width: 100%;
        border: 0.1rem solid #bebebe;
        .content {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding: 2rem 4rem;
          h6 {
            font-size: 1.5rem;
            color: #212121;
          }
          p {
            font-size: 1.5rem;
            color: #787878;
          }
        }
      }
    }
  }
}
/*Services Section*/
.main-service {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
  .left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10rem 5rem;
    gap: 5rem;
    span {
      font-size: 1.5rem;
      color: #ce400d;
      text-transform: uppercase;
      font-family: medium;
    }
    .para {
      p {
        color: #ffffff;
        font-size: 4.5rem;
        font-family: medium;
        line-height: 1;
      }
    }
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-left: 0.1rem solid #4f4b52;
      padding: 1rem;
      width: 100%;
      p {
        font-size: 2rem;
        font-family: medium;
        color: #4f4b52;
        transition: all 0.3s ease-in;
      }
    }
    .text-content p:hover {
      color: #ffff;
      cursor: pointer;
    }
  }
  .right-content {
    width: 50%;
    img {
      width: 90%;
      object-fit: cover;
      object-position: center;
    }
  }
}

/*Capabilities Section*/
.main-capa {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  h6 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #655f69;
  }
  .main-box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    .content-box {
      width: fit-content;
      border: 0.1rem solid #655f69;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      p {
        color: #fff;
        font-size: 3rem;
      }
    }
  }
}
/*Shortest Section*/
.main-short {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  .text {
    font-size: 2rem;
    color: #fff;
    span {
      color: #ff3e00;
    }
  }
  .button {
    padding: 1rem 2rem;
    border-radius: 10px;
    width: fit-content;

    background-color: #ff3e00;
    a {
      color: #ffff;
      text-decoration: none;
      font-size: 1.3rem;
      font-family: medium;
    }
  }
}

/*Engine Section*/
.main-engine {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #0e0606);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .content {
    width: fit-content;
    h1 {
      font-size: 4rem;
      color: #fff;
    }
  }
  .span {
    width: fit-content;
    p {
      font-size: 1.7rem;
      color: #ff6d00;
    }
  }
  .main-image {
    width: 100%;
    margin-top: 10%;
    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      img {
        width: 60%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .button-text {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // gap: 2rem;
    justify-content: space-around;
    margin-left: 25%;
    // background-color: red;
    .before {
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
      border: 0.1rem solid #858585;
      border-radius: 20px;
      padding: 0.5rem 1rem;
      .icon-bg {
        background-color: #858585;
        border-radius: 10px;
      }
      .icon-org {
        background-color: #95310e;
        border-radius: 10px;
      }
      .icon-org2 {
        background-color: #3cc7e4;
        border-radius: 10px;
      }
      p {
        color: #fff;
        font-family: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }
  .graph-table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    .first-content {
      width: 50%;
      // background-color: red;
      width: fit-content;
      transform: translateY(100px);
      padding: 2rem;
      p {
        font-size: 2rem;
        color: #9b9d9c;
        span {
          color: #fff;
          font-family: bold;
        }
      }
    }
  }
}

/*Conversion Section*/
.main-conver {
  width: 100%;
  background: linear-gradient(to right, #0d0f14, #0e0606);
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 30px;
    background-color: #d0d0d0;
    padding: 10rem 5rem;

    h1 {
      width: 35%;
      color: #212121;
      font-family: bold;
      font-size: 4rem;
    }
    .row {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 8%;
      padding: 0rem 5rem;
      .first-text {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 2rem;
        width: 33%;
        h1 {
          width: fit-content;
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          color: #0c0e10;
          span {
            color: #606060;
          }
        }
      }
    }

    // .underline {
    //   width: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   border-bottom: 0.1rem solid #4f4b52;
    //   padding: 3rem;
    // }
    .paid {
      width: 100%;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        width: 100%;
        text-align: center;
      }
      span {
        text-align: center;
        font-size: 2rem;
      }
      .image {
        width: 100%;
        margin-top: 5%;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .achive {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .first {
        display: flex;
        flex-direction: column;
        width: 33%;

        p {
          font-size: 1.9rem;
          color: #0c0e10;
          span {
            font-size: 1.9rem;
            color: #787878;
          }
        }
      }
    }
  }
}
/*Web Section*/
.main-Web {
  width: 100%;
  background-color: #06080a;
  .text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10rem 5rem;
    gap: 0.5rem;
    span {
      font-size: 4rem;
      color: #ffff;
      font-family: bold;
    }
    .para {
      color: #ff6d00;
      font-size: 1.6rem;
    }
    .button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      padding: 0.5rem;
      border: 0.1rem solid #d0d0d0;
      border-radius: 5px;
      margin-top: 5%;
      span {
        font-size: 1rem;
      }
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    // background-color: rgb(219, 178, 178);
    align-items: center;
    justify-content: space-between;
    padding: 10rem 5rem;
    .left-content {
      width: 50%;
      height: 81vh;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      // background-color: red;
      padding: 2rem;
      // background-color: #183c7d;
      border-bottom: 0.1rem solid #cdcdcd72;
      // padding: 2rem 0rem;
      h6 {
        color: #fff;
        font-size: 2rem;
      }
      span {
        color: #d0d0d0;
        font-size: 1rem;
      }
      .image {
        width: 100%;
        margin-top: auto;
        img {
          width: 90%;
          height: auto;
          object-fit: contain;
          margin-left: 5%;
        }
      }
    }
    .right-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-left: 0.1rem solid #cdcdcd72;
      border-bottom: 0.1rem solid #cdcdcd72;
      padding: 2rem;
      // background-color: greenyellow;
      h6 {
        color: #fff;
        font-size: 2rem;
      }
      span {
        color: #d0d0d0;
        font-size: 1rem;
      }
      .stats {
        display: flex;
        gap: 4rem;
        padding: 4rem;
        align-items: flex-end;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          color: white;
        }
        h2 {
          font-size: 3rem;
          font-weight: 500;
        }
        span {
          color: #888;
          letter-spacing: 1px;
          font-size: 1rem;
          font-family: bold;
        }
        /* Bar base */
        .bar {
          width: 120px;
          border-radius: 10px;
        }
      }

      /* Heights */
      .tall {
        height: 260px;
        background: linear-gradient(to bottom, #7a5c4a, #1f4ea1);
      }

      .medium {
        height: 80px;
        background: #ff7a00;
      }

      .small {
        height: 40px;
        background: #ff3d00;
      }
    }
  }
  .develop {
    width: 100%;
    display: flex;
    padding: 1rem 5rem;
    flex-direction: row;
    gap: 1rem;
    span {
      color: #d0d0d0;
      font-size: 1.5rem;
    }
    .button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border: 0.1rem solid #d0d0d0;
      border-radius: 20px;
      padding: 0.5rem;
      span {
        font-size: 1rem;
      }
    }
  }
  .reach {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    p {
      color: #d0d0d0;
      font-size: 1.5rem;
      span {
        text-decoration: underline;
      }
    }
  }
  .main-flex {
    width: 100%;
    padding: 1rem 4rem;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // background-color: red;

    .content {
      width: 33%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      p {
        font-size: 1.5rem;
        color: #d0d0d0;
        span {
          font-size: 1.5rem;
          color: #ffff;
        }
      }
    }
  }
}
