* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar*/
.main-navbar {
  width: 100%;
  background-color: #0c0e10;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.main-navbar .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-left: 5%;
}
.main-navbar .logo .main-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.main-navbar .logo .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-navbar .logo .icon h1 {
  color: #fff;
  font-family: light;
}
.main-navbar .logo .service {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.main-navbar .logo .service h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
}
.main-navbar .logo .button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 7%;
  cursor: pointer;
}
.main-navbar .logo .button button {
  text-decoration: none;
  color: #0c0e10;
  font-family: bold;
  border: none;
}

/*Rank Section*/
.main-rank {
  width: 100%;
  background: conic-gradient(from 90deg at 0 0, #0c0e10, #ce400d, transparent 70%);
  /*Brand-image*/
}
.main-rank .main-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  padding: 5rem;
  gap: 1rem;
}
.main-rank .main-content span {
  font-size: 5rem;
  font-family: bold;
  color: #fff;
}
.main-rank .main-content p {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.main-rank .main-content .button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(105, 53, 37, 0.6274509804);
  border-radius: 14px;
}
.main-rank .main-content .button .email-form {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.main-rank .main-content .button .email-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 14px 16px;
}
.main-rank .main-content .button .email-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.main-rank .main-content .button .email-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.main-rank .main-content .button .email-form button {
  background: #ff3e00;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
.main-rank .main-content .button .email-form button:hover {
  background: #ff541f;
}
.main-rank .main-brand {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.main-rank .main-brand .first-image {
  width: 10%;
  height: 50%;
  border-radius: 8px;
  border: 0.1rem solid rgba(255, 255, 255, 0.547);
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.main-rank .main-brand .first-image img {
  width: 65%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.main-rank .main-brand .first-image:hover {
  border: 0.1rem solid #ff9b50;
  box-shadow: 1px 1px 10px rgba(255, 156, 80, 0.6);
  transition: all ease-in 0.3s;
  cursor: pointer;
}

/*Seamless Section*/
.outer-content {
  width: 100%;
  background: radial-gradient(circle at 100%, #95310e, #30170f, 50%, #95310e, 50%, #95310e 75%);
}
.outer-content .main-content {
  width: 100%;
  border-radius: 35px;
  background-color: #d3d3d3;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.outer-content .main-content h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: regular;
  margin-top: 10%;
  color: #2d2d2d;
}
.outer-content .main-content .text {
  width: -moz-fit-content;
  width: fit-content;
}
.outer-content .main-content .text p {
  font-size: 4rem;
  font-family: medium;
  line-height: 1.1;
  background: linear-gradient(to right, #183c7d, #4f4b52, #da6e19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.outer-content .main-content .para {
  width: -moz-fit-content;
  width: fit-content;
}
.outer-content .main-content .para p {
  font-size: 1.5rem;
  font-family: medium;
}
.outer-content .main-content .main-table {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.outer-content .main-content .main-table .part {
  width: 100%;
  border: 0.1rem solid #bebebe;
}
.outer-content .main-content .main-table .part .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
}
.outer-content .main-content .main-table .part .content h6 {
  font-size: 1.5rem;
  color: #212121;
}
.outer-content .main-content .main-table .part .content p {
  font-size: 1.5rem;
  color: #787878;
}

/*Services Section*/
.main-service {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
}
.main-service .left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  gap: 5rem;
}
.main-service .left-content span {
  font-size: 1.5rem;
  color: #ce400d;
  text-transform: uppercase;
  font-family: medium;
}
.main-service .left-content .para p {
  color: #ffffff;
  font-size: 4.5rem;
  font-family: medium;
  line-height: 1;
}
.main-service .left-content .text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 0.1rem solid #4f4b52;
  padding: 1rem;
  width: 100%;
}
.main-service .left-content .text-content p {
  font-size: 2rem;
  font-family: medium;
  color: #4f4b52;
  transition: all 0.3s ease-in;
}
.main-service .left-content .text-content p:hover {
  color: white;
  cursor: pointer;
}
.main-service .right-content {
  width: 50%;
}
.main-service .right-content img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*Capabilities Section*/
.main-capa {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.main-capa h6 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #655f69;
}
.main-capa .main-box {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.main-capa .main-box .content-box {
  width: -moz-fit-content;
  width: fit-content;
  border: 0.1rem solid #655f69;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.main-capa .main-box .content-box p {
  color: #fff;
  font-size: 3rem;
}

/*Shortest Section*/
.main-short {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #2d1c0e, #0e0606);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.main-short .text {
  font-size: 2rem;
  color: #fff;
}
.main-short .text span {
  color: #ff3e00;
}
.main-short .button {
  padding: 1rem 2rem;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff3e00;
}
.main-short .button a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: medium;
}

/*Engine Section*/
.main-engine {
  width: 100%;
  padding: 10rem 5rem;
  background: linear-gradient(to right, #0d0f14, #0e0606);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-engine .content {
  width: -moz-fit-content;
  width: fit-content;
}
.main-engine .content h1 {
  font-size: 4rem;
  color: #fff;
}
.main-engine .span {
  width: -moz-fit-content;
  width: fit-content;
}
.main-engine .span p {
  font-size: 1.7rem;
  color: #ff6d00;
}
.main-engine .main-image {
  width: 100%;
  margin-top: 10%;
}
.main-engine .main-image .image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.main-engine .main-image .image img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-engine .button-text {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-left: 25%;
}
.main-engine .button-text .before {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  border: 0.1rem solid #858585;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.main-engine .button-text .before .icon-bg {
  background-color: #858585;
  border-radius: 10px;
}
.main-engine .button-text .before .icon-org {
  background-color: #95310e;
  border-radius: 10px;
}
.main-engine .button-text .before .icon-org2 {
  background-color: #3cc7e4;
  border-radius: 10px;
}
.main-engine .button-text .before p {
  color: #fff;
  font-family: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.main-engine .graph-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.main-engine .graph-table .first-content {
  width: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(100px);
  padding: 2rem;
}
.main-engine .graph-table .first-content p {
  font-size: 2rem;
  color: #9b9d9c;
}
.main-engine .graph-table .first-content p span {
  color: #fff;
  font-family: bold;
}

/*Conversion Section*/
.main-conver {
  width: 100%;
  background: linear-gradient(to right, #0d0f14, #0e0606);
}
.main-conver .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 30px;
  background-color: #d0d0d0;
  padding: 10rem 5rem;
}
.main-conver .main-content h1 {
  width: 35%;
  color: #212121;
  font-family: bold;
  font-size: 4rem;
}
.main-conver .main-content .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 8%;
  padding: 0rem 5rem;
}
.main-conver .main-content .row .first-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  width: 33%;
}
.main-conver .main-content .row .first-text h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
}
.main-conver .main-content .row .first-text p {
  font-size: 2rem;
  color: #0c0e10;
}
.main-conver .main-content .row .first-text p span {
  color: #606060;
}
.main-conver .main-content .paid {
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-conver .main-content .paid h1 {
  width: 100%;
  text-align: center;
}
.main-conver .main-content .paid span {
  text-align: center;
  font-size: 2rem;
}
.main-conver .main-content .paid .image {
  width: 100%;
  margin-top: 5%;
}
.main-conver .main-content .paid .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-conver .main-content .achive {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main-conver .main-content .achive .first {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.main-conver .main-content .achive .first p {
  font-size: 1.9rem;
  color: #0c0e10;
}
.main-conver .main-content .achive .first p span {
  font-size: 1.9rem;
  color: #787878;
}

/*Web Section*/
.main-Web {
  width: 100%;
  background-color: #06080a;
}
.main-Web .text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  gap: 0.5rem;
}
.main-Web .text span {
  font-size: 4rem;
  color: white;
  font-family: bold;
}
.main-Web .text .para {
  color: #ff6d00;
  font-size: 1.6rem;
}
.main-Web .text .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border: 0.1rem solid #d0d0d0;
  border-radius: 5px;
  margin-top: 5%;
}
.main-Web .text .button span {
  font-size: 1rem;
}
.main-Web .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 5rem;
}
.main-Web .container .left-content {
  width: 50%;
  height: 81vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-bottom: 0.1rem solid rgba(205, 205, 205, 0.4470588235);
}
.main-Web .container .left-content h6 {
  color: #fff;
  font-size: 2rem;
}
.main-Web .container .left-content span {
  color: #d0d0d0;
  font-size: 1rem;
}
.main-Web .container .left-content .image {
  width: 100%;
  margin-top: auto;
}
.main-Web .container .left-content .image img {
  width: 90%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 5%;
}
.main-Web .container .right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 0.1rem solid rgba(205, 205, 205, 0.4470588235);
  border-bottom: 0.1rem solid rgba(205, 205, 205, 0.4470588235);
  padding: 2rem;
  /* Heights */
}
.main-Web .container .right-content h6 {
  color: #fff;
  font-size: 2rem;
}
.main-Web .container .right-content span {
  color: #d0d0d0;
  font-size: 1rem;
}
.main-Web .container .right-content .stats {
  display: flex;
  gap: 4rem;
  padding: 4rem;
  align-items: flex-end;
  /* Bar base */
}
.main-Web .container .right-content .stats .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}
.main-Web .container .right-content .stats h2 {
  font-size: 3rem;
  font-weight: 500;
}
.main-Web .container .right-content .stats span {
  color: #888;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: bold;
}
.main-Web .container .right-content .stats .bar {
  width: 120px;
  border-radius: 10px;
}
.main-Web .container .right-content .tall {
  height: 260px;
  background: linear-gradient(to bottom, #7a5c4a, #1f4ea1);
}
.main-Web .container .right-content .medium {
  height: 80px;
  background: #ff7a00;
}
.main-Web .container .right-content .small {
  height: 40px;
  background: #ff3d00;
}
.main-Web .develop {
  width: 100%;
  display: flex;
  padding: 1rem 5rem;
  flex-direction: row;
  gap: 1rem;
}
.main-Web .develop span {
  color: #d0d0d0;
  font-size: 1.5rem;
}
.main-Web .develop .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid #d0d0d0;
  border-radius: 20px;
  padding: 0.5rem;
}
.main-Web .develop .button span {
  font-size: 1rem;
}
.main-Web .reach {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main-Web .reach p {
  color: #d0d0d0;
  font-size: 1.5rem;
}
.main-Web .reach p span {
  text-decoration: underline;
}
.main-Web .main-flex {
  width: 100%;
  padding: 1rem 4rem;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main-Web .main-flex .content {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-Web .main-flex .content p {
  font-size: 1.5rem;
  color: #d0d0d0;
}
.main-Web .main-flex .content p span {
  font-size: 1.5rem;
  color: white;
}

/*Gain Section*/
.main-gain {
  width: 100%;
  background: linear-gradient(to right, #0d0f14, #0e0606);
  padding: 8rem;
}
.main-gain .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
}
.main-gain .content p {
  text-align: center;
  font-size: 4rem;
  color: #ff3e00;
  font-family: bold;
}
.main-gain .content p span {
  color: #fff;
  font-size: 4rem;
  font-family: bold;
}
.main-gain .content .para {
  padding: 2rem;
  text-align: center;
}
.main-gain .content .para p {
  text-align: center;
  font-size: 1.5rem;
  color: #d0d0d0;
  font-family: medium;
}
.main-gain .content .para p span {
  font-size: 1.5rem;
  color: #fff;
  font-family: medium;
}

/*Footer Section*/
.main-footer {
  width: 100%;
  background: linear-gradient(to right, #0d0f14, #0e0606);
}
.main-footer .inner-content {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #d0d0d0;
  padding: 5rem;
}
.main-footer .inner-content .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}
.main-footer .inner-content .top .left {
  width: 30%;
}
.main-footer .inner-content .top .left p {
  font-size: 5.5rem;
  color: #212121;
  font-family: bold;
}
.main-footer .inner-content .top .left span {
  font-size: 2rem;
  color: #606060;
}
.main-footer .inner-content .top .form-wrapper {
  padding: 2.5rem;
  border-radius: 12px;
}
.main-footer .inner-content .top .form-wrapper h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #222;
  font-family: bold;
}
.main-footer .inner-content .top .form-wrapper .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main-footer .inner-content .top .form-wrapper .contact-form input {
  padding: 1rem 1.2rem;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  background: transparent;
  font-size: 1.5rem;
  outline: none;
}
.main-footer .inner-content .top .form-wrapper .contact-form button {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.main-footer .inner-content .top .form-wrapper .contact-form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
  color: #555;
  margin-top: 0.8rem;
}
.main-footer .inner-content .top .form-wrapper .contact-form .checkbox span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: semibold;
}
.main-footer .inner-content .top .form-wrapper .contact-form .checkbox span a {
  color: #555;
  text-decoration: underline;
  font-family: semibold;
}
.main-footer .inner-content .bottom {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 1px solid #9c9c9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
}
.main-footer .inner-content .bottom .bottom-left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main-footer .inner-content .bottom .bottom-left .logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.main-footer .inner-content .bottom .bottom-left .logo .logo-icon {
  font-size: 1.6rem;
  color: #ff4d00;
}
.main-footer .inner-content .bottom .bottom-left .logo h3 {
  font-size: 1.6rem;
  font-family: bold;
}
.main-footer .inner-content .bottom .bottom-left p {
  font-size: 1.1rem;
  color: #666;
}
.main-footer .inner-content .bottom .bottom-center {
  display: flex;
  gap: 2.5rem;
}
.main-footer .inner-content .bottom .bottom-center a {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  transition: all ease-in 0.3s;
}
.main-footer .inner-content .bottom .bottom-center a:hover {
  color: #ff4d00;
}
.main-footer .inner-content .bottom .bottom-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-footer .inner-content .bottom .bottom-right .back-to-top {
  cursor: pointer;
  font-size: 1.2rem;
}
.main-footer .inner-content .bottom .bottom-right .social {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */