* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar*/
.main-navbar {
  width: 100%;
  background-color: #0c0e10;
  display: flex;
  flex-direction: row;
  align-content: center;

  .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    padding: 1rem 1rem;
    margin-left: 5%;
    .main-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }
    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      h1 {
        color: #fff;
        font-family: light;
      }
    }

    .service {
      display: flex;
      flex-direction: row;
      align-items: center;
      // background-color: green;
      gap: 0.5rem;

      h1 {
        color: #fff;
        font-size: 1rem;
        font-weight: 200;
      }
    }
    .button {
      width: fit-content;
      background-color: #fff;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 7%;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #0c0e10;
        font-family: bold;
      }
    }
  }
}

/*Rank Section*/
