/*Fonts*/
@font-face {
  font-family: regular;
  src: url(./assets/Fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(./assets/Fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: light;
  src: url(./assets/Fonts/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: semibold;
  src: url(./assets/Fonts/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
  font-family: bold;
  src: url(./assets/Fonts/SpaceGrotesk-Bold.ttf);
}

/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: #000000;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.523);
  border-radius: 50px;
}

body {
  user-select: none;
}
/*Globel Variable*/
.button-btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
  background-color: #ff3e00;
  a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: medium;
  }
}
